.todo-list {
  list-style: none;
  font-size: $todoFontSize;
  text-align: left;
  width: 70%;
  margin: 1.5rem auto;
  padding: 0;
}

.todo {
  margin: 0.5rem 0;
  display: flex;
  align-content: center;
}

.todo-text {
  flex: 1 1 auto;
  margin: 0;
  word-wrap: break-word;
  cursor: pointer;
}

.todo-done {
  text-decoration: line-through;
}

.todo-delete {
  flex: 0 0 auto;
  display: block;
  margin: auto 0;
  padding: 0 0.25rem;
}
