.todo-list {
  list-style: none;
  font-size: $todoFontSize;
  text-align: left;
  width: 70%;
  margin: 1.5rem auto;
  padding: 0;
}

.todo {
  margin: 0.5rem 0;
  cursor: pointer;
  word-wrap: break-word;
}
